@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOiCnqEu92Fr1Mu51QrIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOjCnqEu92Fr1Mu51S7ABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
* {
  margin: 0px;
  padding: 0px;
  color: black;
  text-decoration: none;
  list-style: none;
  border: none;
}
body {
  background-color: #eaeaea;
  font-family: 'Roboto', sans-serif;
}
header {
  -webkit-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
}
header .head-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #424242;
  -webkit-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px -1px rgba(34, 60, 80, 0.2);
}
header .head-part div {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-left: 10px;
}
header .head-part div p {
  align-self: center;
  text-align: center;
  color: white;
  font-size: 20px;
}
header .head-part div p span {
  color: yellowgreen;
}
header .head-part div img {
  width: 40px;
  height: 40px;
}
header .head-part button {
  margin: 15px 15px;
  padding: 10px 15px;
  letter-spacing: 1px;
  font-size: 16px;
  background-color: #82b440;
  outline: none;
  border-radius: 5px;
}
header .head-part button a {
  color: white;
}
header .main-self-information {
  padding: 20px 0 70px;
  background-color: #555555;
  text-align: center;
}
header .main-self-information h2 {
  margin-top: 70px;
  color: white;
  font-size: 30px;
}
header .main-self-information h3 {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
main {
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}
.about-me-part {
  position: relative;
  padding: 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
}
.about-me-part img {
  position: absolute;
  top: -75px;
  left: 423px;
  right: 0;
  border-radius: 50%;
  width: 150px;
  border: 4px solid white;
  box-shadow: 0 0 5px 0 #d6d6d6;
}
.about-me-part p {
  margin-top: 90px;
  text-align: center;
  color: #8c8c8c;
}
.skills h2 {
  margin: 75px 0 25px;
  color: #555555;
  text-align: center;
  letter-spacing: 1px;
}
.programmer-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.programmer-skills .skill-item {
  width: 400px;
  margin: 30px 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 5px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 5px 5px rgba(34, 60, 80, 0.2);
}
.programmer-skills .skill-item:nth-child(2n) {
  margin-left: auto;
}
.programmer-skills .skill-item h3 {
  padding: 15px 45px;
  color: white;
  background: no-repeat #424242;
  background-position: 10px center;
  background-size: 30px 30px;
  letter-spacing: 1px;
}
.programmer-skills .skill-item h3.html {
  background-image: url("img/html5.png");
}
.programmer-skills .skill-item h3.css {
  background-image: url("img/css3.png");
}
.programmer-skills .skill-item h3.js {
  background-image: url("img/javascript.png");
}
.programmer-skills .skill-item h3.react {
  background-image: url("img/favicon.ico");
}
.programmer-skills .skill-item p {
  padding: 40px 25px 25px;
  color: #7b7a7b;
  text-align: left;
}
.common-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}
.common-skills li {
  color: white;
  background-color: #424242;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.2);
  border-radius: 2px;
}
.common-skills li h3 {
  padding: 25px;
  text-align: center;
  color: white;
}
.common-skills li dl {
  padding: 0 20px 20px;
}
.common-skills li dl .section {
  font-size: 15px;
  margin: 20px 10px;
}
.common-skills li dl .section dt {
  color: white;
}
.common-skills li dl .section span {
  color: white;
  float: right;
}
.common-skills li dl .section .skills-level {
  background-color: tomato;
  height: 3px;
}
.common-skills li dl dd {
  margin-top: 10px;
  background-color: #8f8c8c;
}
.examples {
  margin-top: 80px;
}
.examples h2 {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 28px;
  color: #86898c;
  text-align: center;
}
.examples .table-tags {
  margin: 50px auto;
  width: 320px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
}
.examples .table-tags li {
  padding: 15px 15px;
  text-align: center;
  cursor: pointer;
}
.examples .table-tags li.active {
  background-color: #ebebeb;
}
.works-items {
  margin: 50px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.works-items li {
  margin: 10px;
  height: 400px;
  overflow: hidden;
  background: rgba(52, 152, 219, 0.9);
}
.works-items li:nth-child(2) img {
  opacity: 0.8;
}
.works-items li img {
  height: 400px;
  width: 100%;
  transition: 0.8s;
}
.works-items li img:hover {
  transform: scale(1.2);
  opacity: 0.1;
}
footer {
  padding: 50px;
  background-color: white;
}
